/.DS_Store
/build/
/bin/
/out/
/dist/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json

/android/*/.gradle/
/android/build/
/android/*/build/

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.app
*.log
